@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicLight.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothic.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicExtraBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothic/NanumGothicExtraBold.ttf') format('truetype');
}
