@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicLight.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicLight.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicLight.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothic.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothic.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothic.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothic.woff2') format('woff2');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicBold.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicBold.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicBold.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicExtraBold.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicExtraBold.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicExtraBold.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumGothic/main/NanumGothicExtraBold.woff2') format('woff2');
}
